[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = VivanPathak
	email = 92623408+VivanPathak@users.noreply.github.com
